Hei<br/>

For å få tilgang til applikasjonen trenger vi din epostaddresse. Du vil motta en epost med en lenke du kan bruke for å logge deg inn.

<% form_for(@user) do |f| %>
  <p>
    Epost: <%= f.text_field :email %>
    <%= f.submit "Send" %>
  </p>

<br/>


<% end %>
